@charset "UTF-8";

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
}
.png {
    position: relative; /* Para que os filhos com posição absoluta se posicionem em relação a este elemento */
    justify-content: center; /* Centraliza as imagens horizontalmente */
    align-items: center; /* Centraliza as imagens verticalmente */
}

/* Modo Portrait */
@media only screen and (orientation: portrait) {
    .overlay {
        position: absolute;
        width: 80px; /* Ajuste conforme necessário para portrait */
        height: auto;
    }
    
    .agende {
        width: 300px; /* Ajuste conforme necessário para portrait */
        left: 29%; /* Centralizar horizontalmente */
        top: 88%; /* Ajuste conforme necessário */
        transform: translateX(-50%); /* Centralizar baseado no meio da imagem */
        animation: pulse 1.5s infinite; /* Animação pulsante */
    }

    .instagram {
        top: 96.5%; /* Ajuste conforme necessário */
        left: 50%; /* Ajuste conforme necessário */
        transform: translateX(-50%);
    }
}

/* Modo Landscape */
@media only screen and (orientation: landscape) {
    .overlay {
        position: absolute;
        width: 100px; /* Ajuste conforme necessário para landscape */
        height: auto;
    }
    
    .agende {
        width: 350px; /* Ajuste conforme necessário para landscape */
        left: 34%; /* Ajuste conforme necessário */
        top: 88%; /* Ajuste conforme necessário */
        transform: translateX(-50%); /* Centralizar baseado no meio da imagem */
        animation: pulse 1.5s infinite; /* Animação pulsante */
    }

    .instagram {
        top: 96%; /* Ajuste conforme necessário */
        left: 50%; /* Ajuste conforme necessário */
        transform: translateX(-50%);
    }
}

/* Definindo a animação pulsante */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Aumenta 10% */
    }
    100% {
        transform: scale(1);
    }
}
