@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e border nas larguras */
}

.png {
    display: flex; /* Usar flexbox para posicionar imagens lado a lado */
    flex-wrap: wrap; /* Permitir que as imagens se ajustem em várias linhas, se necessário */
    position: relative; /* Para que os filhos com posição absoluta se posicionem em relação a este elemento */
}

.overlay {
 position: absolute;
 width: 100px; /* Ajuste conforme necessário */
 height: auto;
}

/* Posição para as imagens sobrepostas */
.agende {
    width: 350px;
    left: 39%;
    top: 88%; /* Ajuste conforme necessário */
    transform: translateX(-50%); /* Centralizar baseado no meio da imagem */
    animation: pulse 1.5s infinite; /* Adiciona animação pulsante */

}
.instagram {
    top:96.5%; /* Ajuste conforme necessário */
    left: 70%;
}
/* Definindo a animação pulsante */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Aumenta 10% */
    }
    100% {
        transform: scale(1);
    }
}

/* Modo Landscape */
@media only screen and (orientation: landscape) {
      body {
        overflow-x: hidden; /* Evita a rolagem horizontal e vertical */
    }
    main{
        justify-content: center;
    }
.png {
    display: flex; /* Usar flexbox para posicionar imagens lado a lado */
    flex-wrap: wrap; /* Permitir que as imagens se ajustem em várias linhas, se necessário */
    position: relative; /* Para que os filhos com posição absoluta se posicionem em relação a este elemento */
}    
    .icon1{
        position:absolute;
        justify-content: center;
        align-items: center;
        margin-top: -350px;
        left: 432px;       
    }

    .icon1 img{
        width: 250px;
    }

    .icon2{
        position:absolute;
        justify-content: center;
        align-items: center;
        margin-top: -130px;
        left: 520px;       
    }

    .icon2 img{
        width: 60px;
    }
    .overlay {
        position: absolute;
        width: 100px; /* Ajuste conforme necessário para landscape */
        height: auto;
    }
    

}

/* Definindo a animação pulsante */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Aumenta 10% */
    }
    100% {
        transform: scale(1);
    }
}
